{## Start with  defaults from defaults.yaml ##}
{% import_yaml "plexmediaserver/defaults.yaml" as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'FreeBSD': {
      'root_group': 'wheel',
    },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('plexmediaserver:lookup'))
%}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.plexmediaserver.update(os_family_map) %}

{## Merge in plexmediaserver:lookup pillar ##}
{% set plexmediaserver = salt['pillar.get'](
    'plexmediaserver',
    default=default_settings.plexmediaserver,
    merge=True
  )
%}
