{% set map = salt['grains.filter_by']({
     'FreeBSD': {
       'package': 'py27-salt',
       'service': 'salt_minion',
     },
     'Arch': {
       'package': 'salt-zmq',
       'service': 'salt-minion',
     },
     'Default': {
       'package': 'salt-minion',
       'service': 'salt-minion',
     },
   }, merge=salt['pillar.get']('salt_minion:lookup'), default='Default') %}
